.hdr{
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.hdr-div-1{
    text-align: right;
    padding: 100px;
}
h1{
    font-size: 65px;
}
.hdr-btn-1{
    background-color: chocolate;
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: 40px;
}
.main-div-1{
    display: flex;
    margin: 100px 150px;
}
.main-div-1-person{
    height: 500px;
}
.md-1-2{
    margin-top: 130px;
    margin-left: 50px;
}
.main-div-1-ul{
    /* list-style-type:'\2713'; */
    list-style-image:url(/images/icons/checkmark.png);

}
h2{
    font-size: 40px;
}
.main-div-2{
    display: flex;
    justify-content:space-around;
}
.main-div-2-hdr{
    text-align: center;
}
.main-div-2{
    text-align: center;
    margin: 0 200px;
}
h3{
    font-size: 30px;
}
h5{
    font-size: 25px;
    color: gray;
}
.main-div-3{
    background-image: url('/images/watch.png');
    background-repeat: no-repeat;
    height: 200px;
    padding: 50px 50px;
    margin: 50px 200px;
    border-radius: 10px;
    color: white;
    margin-bottom: 100px;

    /* its not working */
    background-image:linear-gradient(to right, rgba(214, 119, 52, 1), rgba(61, 56, 54, 0));
}
.main-btn-1, .ftr-btn-1{
    background-color: white;
    color: chocolate;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 0 20px;
}
.ftr{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    
}
.ftr-div-1, .ftr-div-2-hdr{
    color: white;
}
.fd-1-1{
    display: flex;
    gap: 10px;
}
h4{
    font-size: 25px;
}
.ftr-div-2-eml{
    background-color: black;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}
.ftr-btn-1{
    margin-top: 10px;
}